<h1>Listing groups</h1>
<form id="products">
  <fieldset>
<% @groups.each do |group| %>
  <% if group.products.nil? || group.products.empty?%>
    <h3><%= group.name %></h3>
    <p class="error">There are no product in this group!</p>
  <% else %>
    <div id="<%= group.name%>" class="group">
      <% products = group.products.select{|x| x.default?} + group.products.select{|x| !x.default?} %>
      <%= label(group.name, 'select', group.name)%>
      <%= select(group.name, 'select', products.collect{|x| [x.name, x.value] }) %>
      <div id='value_<%=group.name.gsub(/\s/, '_')%>' class="product-value"></div>
    </div>
  <% end %>

  <div class="controll">
    <%= link_to 'Add a Product', new_product_path %>
    <%= link_to 'Edit', edit_group_path(group) %>
    <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
  </fieldset>
</form>
<div id="total-amount">
  <h2> Total Amount: </h2>
  <span class="value"></span><span class="currency">€</span>
</div>

<br />

<%= link_to 'New Group', new_group_path %>
