<h1>Listing groups</h1>

<% @groups.each do |group| %>
<div class="group">
  <h3><%= group.name %></h3>
  <% if group.products.nil? || group.products.empty?%>
    <p class="error">There are no product in this group!</p>
  <% else %>
    <select name="<%= group.name %>" id="<%= group.name %>">
      <% unless group.products.select{|x| x.default?}.nil? %>
        <% group.products.select{|x| x.default?}.each do |product| %>
          <option value="<%= product.value %>"><Lisbon><%= product.name %></option>
        <% end %>
      <% end %>

      <% unless group.products.select{|x| !x.default?}.nil? %>
        <% group.products.select{|x| !x.default?}.each do |product| %>
          <option value="<%= product.value %>"><Lisbon><%= product.name %></option>
        <% end %>
      <% end %>
    </select>
    <div id="value">
    </div>
  <% end %>

  <div class="controll">
    <%= link_to 'Add a Product', new_product_path %>
    <%= link_to 'Edit', edit_group_path(group) %>
    <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<% end %>

<div id="total-amount">
<h2> Total Amount: </h2>
<span class="value"></span><span class="currency">€</span>
</div>

<br />

<%= link_to 'New Group', new_group_path %>
